// Add your custom CSS here.
.header__submenu {
    margin-top: 13px;
}
.product-card__name {
    --max-lines: 4;
}
@media(max-width: 767px) {
    #instant-search .backdrop + .search__box .product-card--small {
      padding-bottom: 45px
    }
    #instant-search .backdrop + .search__box .product-card--small .product-card__buy {
      left: 8px
    }
}

@media(min-width:1000px) and (max-width:1440px){
  #page-products .variations__grid .variations__option.with-image{
      width:25%;
      overflow: hidden;
      width: calc(25% - var(--spacer-2));
      img{max-width: 100%;height: auto;}
  }
}

#page-products{
  .variations__grid{
      .variations__grid-title{
          font-size: var(--f17);
          text-transform: uppercase;
          font-weight: 500;
      }
      .variations__value{
          color: #666;
          font-weight: 300;
          font-size: var(--f17);
          i{display: none;}
      }
      .variations__option{
          border-radius: 0;

      }
      .variations__option.with-image{
          padding: 0;
          width:25%;
          overflow: hidden;
          width: calc(25% - var(--spacer-2));
          img{
              width: 100%;
          }
      }
  }
}
.product-item {
  height: 100%;
}

.apx_listing_colors{
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: .5rem;
  span{
    border: 1px solid #ccc;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    position: relative;
  }
  span[data="Transparente"]:after{
    content: "";
    height: 1px;
    background: red;
    width: 100%;
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    rotate: -45deg;

  }
  .more_colors{
    font-size: 12px;
    line-height: 16px;
    border: 0;
    text-decoration: none;
    color: #000!important;
  }
}
.info-bar,
.banner-slider{max-width: 100%;max-height:unset}
.page--home .products-carousel,

.page--home .custom-html .container{max-width: 100%;}
.page--home .brands-carousel{max-width: calc(100% - 5rem);}